<%= bootstrap_form_with(model: tuit) do |form| %>
  <% if tuit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tuit.errors.count, "error") %> prohibited this tuit from being saved:</h2>

      <ul>
        <% tuit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= form.text_field :description %>

  
  <%= form.text_field :user_name %>

  
  <%= form.select :location, ["New York", "Los Angeles", "London", "Tokyo", "Paris", "Sydney", "Berlin", "Toronto", "Mumbai", "San Francisco"] %>

  
  <%= form.number_field :friends_count %>

  
  <%= form.datetime_field :created %>

  
  <%= form.text_area :content %>

  <%= form.primary%>
<%end%>  
