<li class="tweet-card">
  <div  id="<%= dom_id tuit %>" class="tweet-content">
    <div class="tweet-header">
      <span class="fullname">
        <strong><%= tuit.user_name %></strong>
      </span>
      <span class="tweet-time"><%= tuit.created %></span>
    </div>
    <a>
      <img class="tweet-card-avatar" src="<%= asset_path("default-pfp.png") %>" alt="">
    </a>
    <div class="tweet-text">
      <p class="" lang="es" data-aria-label-part="0"><%= tuit.description %></p>
    </div>
    <div class="tweet-footer">
      <a class="tweet-footer-btn">
        <i class="bi bi-chat-fill"></i><span><%= rand(1000) %></span>
      </a>
      <a class="tweet-footer-btn">
        <i class="bi bi-arrow-repeat"></i><span><%= rand(1000) %></span>
      </a>
      <a class="tweet-footer-btn">
        <i class="bi bi-suit-heart-fill"></i><span><%= rand(1000) %></span>
      </a>
      <a class="tweet-footer-btn">
        <i class="bi bi-envelope"></i><span><%= rand(1000) %></span>
      </a>
    </div>
  </div>
</li>