<div id="<%= dom_id tuit %>">
  <p>
    <strong>Description:</strong>
    <%= tuit.description %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= tuit.user_name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= tuit.location %>
  </p>

  <p>
    <strong>Friends count:</strong>
    <%= tuit.friends_count %>
  </p>

  <p>
    <strong>Created:</strong>
    <%= tuit.created %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= tuit.content %>
  </p>

</div>
